/*
  File: styles.css
  Author: CS100 Team
  Date Created: 23 July 2023
  Copyright: CSTU
  Description: CSS code of CSTU Passport that validate with JS
*/

/* Set the font family for the entire body */
body {
  font-family: Arial, sans-serif;
  background-color: #7AB4C1;
  margin: 0;
  padding: 0;
  
}
/* Styling for the form container */
.form-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  border: 15px dashed black;
  border-radius: 20px;
}

/* Center-align the heading and add margin at the bottom */
.form-container h1 {
  text-align: center;
  margin-bottom: 20px;
  margin-left: 0px;
  text-shadow: 2px 2px 5px #2B3D41;
  text-decoration-line: underline;
  text-decoration-style: double;
  font-family: 'Covered By Your Grace', cursive;
}

/* Styling for each form group */
.form-group {
  margin-bottom: 20px;
}

/* Styling for form group labels */
.form-group label {
  display: block;
  font-weight: bold;
}
/* Styling for form group strong */
.form-group strong{
  color: red;
  font-size: small;
}
/* styling for form group file */
.form-group input[type="file"]{
 width: 898px;
 height: 25px;
 border: solid black;
 border-radius: 5px;
 background-color: white;
 padding-top: 5px;
}

/* Styling for various form input types */
.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea,
.form-group input[type="datetime-local"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Allow vertical resizing for textareas */
.form-group textarea {
  resize: vertical;
}

/* Styling for select dropdowns */
.form-group select {
  width: 100%;
}

/* Styling for the submit button */
.form-group input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Styling for small helper text */
.form-group small {
  font-size: 12px;
  color: #888;
}

/* New styles for error messages */

/* Position the error message relatively within the form group */
.form-group {
  position: relative;
}

/* Styling for error messages */
.error {
  color: red;
  display: block;
  margin-top: 5px;
}

.resultforsai{
  width:50%;
  margin:auto;
  padding:30px;
  background-color:#2B3D41;
  color:white;
  border-radius: 20px;
  justify-content: space-around; 
}

.imagePreview img{
  height:10px;
  width:auto;
}

.piccs{
  margin-top:30px;
}
